html {
  font-size: 100px;
  -webkit-text-size-adjust: none;
}

@media only screen and (max-width: 376px) {
  html {
    font-size: calc(100vw / 3.75);
  }
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: PingFang SC, Helvetica Neue, Microsoft YaHei, sans-serif;
}

@media screen and (min-width: 960px) {
  body {
    background-color: #edf4fa;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCAAgABMDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAgJBwMF/8QAKRAAAQMDAgILAAAAAAAAAAAAAQACAwQFEQZRBwgSExQhIjFCYXGRkv/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/8QAIREAAQMEAQUAAAAAAAAAAAAAAQADBAIFERVSFiExUWH/2gAMAwEAAhEDEQA/AKZuMTfWub6mniHieB8lZVduJc9FC6V8ZHRGVgnEnmaudEZKegLmluRnKusW5x84CgSbm1GGainJN4twODPH+kKZs/M5rEzPIrX4zuUKhoa+QUzqOjiU5+qNOT11O9jITgjZL7rTgtW3GeR7YHd52TyzWmjeMFrSvMqtLW+bOYGnPshxrkWOwT5VrEjyVOuXl5rjI49Q7z2QqBHQtvJJ7O36Qn7r4gaEe1//2Q==);
    background-size: 150vw 150vw;
    background-position: center;
    background-repeat: repeat-y;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
